*{
  margin: 0;
}
.app{
  background-color: #fafafa;
}
.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center; 
}
.app__postsRight{
margin-left: 30px;
}
.app__header > img{
  object-fit: contain;
  height:70px;
  background-color: white;
  object-fit: contain;


}
.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.app__headerImage{
  object-fit: contain;
  height:70px;
  background-color: white;
}
.app__signup{
  display: flex;
  flex-direction: column;
}

@media (max-width:500px){
  .app__postsRight{
max-width:20px;

  }
}